.todo-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
  min-width: 400px;

  .row {
    display: flex;
    gap: 16px;

    mat-form-field {
      flex: 1;
    }
  }
}

.category-option {
    display: flex;
    align-items: center;
    gap: 12px;

    .color-dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
}

mat-dialog-content {
    max-height: 80vh;
}
