h2 {
    text-align: center;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 8px;
    gap: 8px;
    margin-top: 20px;
}

.col {
    text-align: center;
    padding: 12px 16px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    font-size: 20px;
    color: black;
    background-color: #fff;
    cursor: move;
    min-width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview {
    height: auto !important;
    width: auto !important;
    padding: 12px 16px;
}

.cdk-drag-placeholder {
    background-color: lightgray;
}