@switch (col().dataType) {
    @case (CustomDataType.String) {
        <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="no-outline-form-field"
        >
            <input
                matInput
                type="text"
                [formControl]="control"
                (focus)="onCellFocus()"
                (blur)="onCellBlur()"
            />
        </mat-form-field>
    }

    @case (CustomDataType.Int) {
        <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="no-outline-form-field"
        >
            <input
                matInput
                class="no-spinner"
                type="number"
                [formControl]="control"
                (focus)="onCellFocus()"
                (blur)="onCellBlur()"
            />
        </mat-form-field>
    }

    @case (CustomDataType.Decimal) {
        <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="no-outline-form-field"
        >
            <input
                matInput
                class="no-spinner"
                type="number"
                step="0.01"
                [formControl]="control"
                (focus)="onCellFocus()"
                (blur)="onCellBlur()"
            />
        </mat-form-field>
    }

    @case (CustomDataType.Date) {
        <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="no-outline-form-field date-cell"
        >
            <input
                matInput
                [matDatepicker]="picker"
                class="date-cell"
                [formControl]="control"
                (focus)="onCellFocus()"
                (dateChange)="onCellBlur()"
            />
            <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    }

    @case (CustomDataType.Bool) {
        <div class="cell-content">
            <mat-checkbox
                [formControl]="control"
                (focus)="onCellFocus()"
                (change)="onCellBlur()"
            >
            </mat-checkbox>
        </div>
    }

    @default {
        <div class="cell-content">
            <p>Datentyp nicht erkannt!</p>
        </div>
    }
}
