::ng-deep .mat-mdc-select-panel::-webkit-scrollbar {
    background-color: transparent !important;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb) !important;
    border-radius: 3px;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover) !important;
}
