<div class="calendar-container">
    <mat-toolbar class="toolbar-container">
        <div class="left-container">
            <button mat-fab extended matTooltip="Öffne eine Liste aller Tools" (click)="openSideNav()" style="height: 50px; margin-right: 80px;">
                <mat-icon>home</mat-icon>
                Tool wechseln
            </button>

            <div class="view-buttons">
                <button mat-flat-button matTooltip="Wechsel zur Monatsansicht" (click)="calendarAction('changeMonth')">Monat</button>
                <button mat-flat-button matTooltip="Wechsel zur Wochenansicht" (click)="calendarAction('changeWeek')">Woche</button>
                <button mat-flat-button matTooltip="Wechsel zur Tagesansicht" (click)="calendarAction('changeDay')">Tag</button>
                
                <button mat-flat-button matTooltip="Springe zum heutigen Datum" style="margin-left: 30px;"
                (click)="calendarAction('today')" [disabled]="!isToday">Heute</button>
            </div>
        </div>

        <div class="middle-container">
            <button mat-icon-button matTooltip="Letzes Jahr" (click)="calendarAction('prevYear')">
                <mat-icon style="position: relative; left: -4px">chevron_left</mat-icon>
                <mat-icon style="position: relative; left: -19px">chevron_left</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Letzter Monat" (click)="calendarAction('prev')">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <h1 class="date-title">{{ this.title() }}</h1>

            <button mat-icon-button matTooltip="Nächstes Jahr" (click)="calendarAction('next')">
                <mat-icon>chevron_right</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Nächster Monat" (click)="calendarAction('nextYear')">
                <mat-icon style="position: relative; left: -4px">chevron_right</mat-icon>
                <mat-icon style="position: relative; left: -19px">chevron_right</mat-icon>
            </button>
        </div>

        <div class="right-container">
            <button mat-flat-button (click)="createEvent()">Kalendereintrag erstellen</button>
            
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Nach Event suchen</mat-label>
                <input matInput type="text" [formControl]="searchControl" (keydown.enter)="openSearchResult()">
                <button matSuffix mat-icon-button type="button" aria-label="Clear"
                    (click)="searchControl.reset()" [style.visibility]="searchControl.value ? 'visible' : 'hidden'">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Toppings</mat-label>
                <mat-select [formControl]="categoryControl" multiple>
                    <mat-select-trigger>
                    {{ getCategoryDisplay() }}
                    @if ((categoryControl.value?.length || 0) > 1 && getCategoryDisplay() != 'Alle') {
                        <span>
                            (+{{ (categoryControl.value?.length || 0) - 1 }} weitere)
                        </span>
                    }
                    </mat-select-trigger>
                    @for (category of categoryList; track $index) {
                        <mat-option [value]="category.categoryId">{{ category.categoryName }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </mat-toolbar>
    
    <full-calendar #calendarRef
        [options]="calendarOptions">
    </full-calendar>
</div>