:host {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    padding: 10px 25px 0 25px;
    box-sizing: border-box;
}

.calendar-container {
    height: 100%;
    width: 100%;
}

.toolbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5px;
    height: 70px;
}

.toolbar-container div {
    display: flex;
    justify-content: center;
}

.date-title {
    font-size: 30px;
    font-weight: 500;
    align-self: center;
    margin: 0 10px 0 10px;
}

// calendar styles
::ng-deep .fc-event {
    background-color: white;
    border: none;
}

::ng-deep .fc-event-material {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: none;
}

::ng-deep .fc-event-title {
    font-weight: normal !important;
    font-size: 15px;
    margin-bottom: 2px;
}

::ng-deep .fc-event-time {
    font-weight: normal !important;
    font-size: 12px;
}

::ng-deep .fc-event-note {
    font-weight: normal;
    font-size: 12px;
    color: white;
    margin-top: 2px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .fc-event-background {
    padding: 5px;
}

::ng-deep .category-1 {
    background-color: #0d47a1; // Dark Blue
    color: white;
}

::ng-deep .category-2 {
    background-color: #388e3c; // Dark Green
    color: white;
}

::ng-deep .category-3 {
    background-color: #b71c1c;
}

::ng-deep .fc-day-other {
  background-color: #e6e6e6;
  color: black;
}
