:host {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 10px 25px 0;
    box-sizing: border-box;
}

.calendar-container {
    height: 100%;
    width: 100%;
}

.toolbar-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    margin-bottom: 5px;
    height: 70px;
}

.toolbar-container > div,
.left-container,
.right-container {
    display: flex;
    align-items: center;
}

.view-buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.middle-container {
    gap: 5px;
    margin: 0 20px;
}

.right-container {
    gap: 20px;
}

.event-search {
    max-width: 200px;
    min-width: 100px;
}

.date-title {
    flex-shrink: 0;
    min-width: 200px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
}

// calendar styles
::ng-deep .fc-event {
    background-color: #fff;
    border: none;
}

::ng-deep .fc-event-material {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

::ng-deep .fc-event-title,
::ng-deep .fc-event-time {
    font-weight: normal !important;
}

::ng-deep .fc-event-title {
    font-size: 15px;
    margin-bottom: 2px;
}

::ng-deep .fc-event-time {
    font-size: 12px;
}

::ng-deep .fc-event-note {
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .fc-day-other {
    background-color: #e6e6e6;
    color: #000;
}

::ng-deep .fc-event-background {
    padding: 5px;
}

::ng-deep .category-1 {
    background-color: #0d47a1;
    color: #fff;
}

::ng-deep .category-2 {
    background-color: #388e3c;
    color: #fff;
}

::ng-deep .category-3 {
    background-color: #b71c1c;
}
