<div class="custom-table-container">
    <mat-toolbar class="toolbar-container">
        <button mat-fab extended matTooltip="Öffne eine Liste aller Tools" (click)="openSideNav()" style="height: 50px; margin-right: 80px;">
            <mat-icon>home</mat-icon>
            Tool wechseln
        </button>

        <div>
            <button mat-flat-button (click)="createTable()">Tabelle erstellen</button>
        </div>
    </mat-toolbar>

    <div class="content-container">
        <mat-card>
            <mat-list class="list">
                <div mat-subheader>Tabellenübersicht</div>
                @if (tableList.length > 0) {
                    @for (table of tableList; track $index) {
                        <button mat-fab extended style="width: 100%;" (click)="loadTable(table.tableId)" [disabled]="table.tableId === this.tableId">
                            <mat-icon matListItemIcon>chevron_right</mat-icon>
                            <span matListItemTitle>{{table.name}}</span>
                        </button>
                    }
                } @else {
                    <p>Keine Tabellen vorhanden!</p>
                }
            </mat-list>
        </mat-card>

        @if (this.tableId != 0) {

            <div class="shadow">
                <div class="scroll-wrapper" cdkDropList (cdkDropListDropped)="dropRow($event)" [cdkDropListData]="dataSource.data">
                    <table mat-table [dataSource]="dataSource" class="table">
                        @if (!this.removeRowsColumn) {
                            <ng-container [matColumnDef]="'drag'">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-icon cdkDragHandle>reorder</mat-icon>
                                </td>
                            </ng-container>
                        }
                            
                        @if (this.removeRowsColumn) {
                            <ng-container [matColumnDef]="'delete'">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-icon class="delete-icon">delete</mat-icon>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox [formControl]="removeControls[row.rowId]"></mat-checkbox>
                                </td>
                            </ng-container>
                        }

                        @for (col of columns; track $index) {
                            <ng-container [matColumnDef]="col.columnId.toString()">
                                <th mat-header-cell *matHeaderCellDef (click)="editColumn(col.columnId)" class="column-hover">
                                    {{col.columnName}}
                                </th>
                                <td mat-cell *matCellDef="let row" class="cell-hover" (click)="focusOwnCell($event)">
                                    @switch (col.dataType) {
                                        @case ('string') {
                                            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="no-outline-form-field">
                                                <input matInput
                                                    type="text"
                                                    [formControl]="formControls[row.rowId + '_' + col.columnId]"
                                                    (blur)="onCellBlur(row.rowId, col.columnId)">
                                            </mat-form-field>
                                        }

                                        @case ('int') {
                                            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="no-outline-form-field">
                                                <input matInput class="no-spinner"
                                                    type="number"
                                                    [formControl]="formControls[row.rowId + '_' + col.columnId]"
                                                    (blur)="onCellBlur(row.rowId, col.columnId)">
                                            </mat-form-field>
                                        }

                                        @case ('decimal') {
                                            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="no-outline-form-field">
                                                <input matInput class="no-spinner"
                                                type="number"
                                                step="0.01"
                                                [formControl]="formControls[row.rowId + '_' + col.columnId]"
                                                (blur)="onCellBlur(row.rowId, col.columnId)">
                                            </mat-form-field>
                                        }

                                        @case ('date') { 
                                            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="no-outline-form-field date-cell">
                                                <input matInput [matDatepicker]="picker" class="date-cell"
                                                    [formControl]="formControls[row.rowId + '_' + col.columnId]"
                                                    (dateChange)="onCellBlur(row.rowId, col.columnId)">
                                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>

                                        }

                                        @case ('bool') {
                                            <mat-checkbox
                                                [formControl]="formControls[row.rowId + '_' + col.columnId]"
                                                (change)="onCellBlur(row.rowId, col.columnId)">
                                            </mat-checkbox>
                                        }

                                        @default {
                                            <p>Datentyp nicht erkannt!</p>
                                        }
                                    }
                                </td>
                            </ng-container>
                        }
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row
                            cdkDrag
                            [cdkDragDisabled]="removeRowsColumn"
                            *matRowDef="let row; columns: displayedColumns;"
                            [ngClass]="{ 'row-marked-for-deletion' : removeControls[row.rowId].value }">
                        </tr>
                    </table>
                </div>
                
                @if (!this.removeRowsColumn) {
                    <div class="table-footer">
                        <button mat-flat-button (click)="addColumn()">
                            <mat-icon>view_column</mat-icon>
                            Spalte hinzufügen
                        </button>
                        
                        <button matButton="outlined" (click)="reorderColumns()">
                            <mat-icon>swap_horiz</mat-icon>
                            Spaltenreihenfolge ändern
                        </button>

                        <span class="flex-spacer"></span>

                        <button mat-flat-button (click)="addRow()">
                            <mat-icon>add</mat-icon>
                            Neue Zeile hinzufügen
                        </button>
                        
                        <button mat-flat-button class="delete-button" (click)="toggleRemoveMode()">
                            <mat-icon>remove</mat-icon>
                            Zeilen entfernen
                        </button>
                        
                        <span class="flex-spacer"></span>
                        
                        <button mat-flat-button (click)="editTable()">
                            <mat-icon>edit</mat-icon>
                            Tabellennamen ändern
                        </button>
                        
                        <button mat-flat-button class="delete-button" (click)="deleteTable()">
                            <mat-icon>delete</mat-icon>
                            Tabelle löschen
                        </button>
                    </div>
                } @else {
                    <div class="table-footer">
                        <button mat-flat-button class="delete-button" (click)="deleteRows()" [disabled]="!hasCheckedRows()">
                            <mat-icon>delete</mat-icon>
                            Alle markierten Zeilen löschen
                        </button>

                        <button mat-flat-button (click)="toggleRemoveMode()">
                            Abbrechen
                        </button>
                    </div>
                }
            </div>
        }
    </div>
</div>