:host {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 10px 25px 0;
    box-sizing: border-box;
}

.custom-table-container {
    height: 100%;
    width: 100%;
}

.toolbar-container {
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    margin-bottom: 5px;
    height: 70px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 50px;
    margin-top: 20px;
    min-height: 100vh;
    align-items: start;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 12px 12px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.table {
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.paginator {
    border-radius: 0 0 20px 20px;
}

.shadow {
    box-shadow:
        0px   2px  4px  -1px rgba(0, 0, 0, 0.20),
        0px   4px  5px   0px rgba(0, 0, 0, 0.14),
        0px   1px 10px   0px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

/* table.component.scss */
.table-footer {
    display: flex;
    align-items: center;
    gap:  10px;
    border-radius: 0 0 20px 20px;

    min-height: 60px;
    padding: 0 16px;
    border-top: 1px solid rgba(0,0,0,.12);
    background: var(--mdc-theme-surface, #FAF9FD);
}

.flex-spacer { flex: 1 1 auto; }

th {
    font-size: 16px;
}

.date-cell {
    width: 160px;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
