.table {
    margin: 20px 40px 20px 40px;

    width: auto;
    min-width: 500px;
    max-width: 100%;
    white-space: nowrap;
}

td, th {
    padding-right: 70px !important; /* Abstand zur nächsten Spalte */
}

.action-buttons {
    display: flex;
    gap: 20px;
}