/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "@fontsource/roboto/300.css" as *;
@use "@fontsource/roboto/400.css" as *;
@use "@fontsource/roboto/500.css" as *;
@use "@fontsource/material-icons" as *;

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    @include mat.toolbar-overrides((
        container-background-color: white
    ));
    @include mat.slide-toggle-overrides((
        label-text-size: 20px,
    ));
    @include mat.sidenav-overrides((
        content-background-color: white
    ));
}

.delete-button {
    @include mat.button-overrides((
        filled-container-color: #b71c1c,
        filled-label-text-color: white,
        text-label-text-color: #b71c1c,
        text-state-layer-color: #b71c1c
    ));
    @include mat.icon-button-overrides((
        icon-color: #b71c1c
    ))
}

.no-outline-form-field {
    @include mat.form-field-overrides((
        outlined-outline-color: transparent,
        outlined-focus-outline-color: transparent,
        outlined-hover-outline-color: transparent,
        outlined-error-focus-outline-color: transparent
    ))
}

.white-card {
    @include mat.card-overrides((
        elevated-container-color: white
    ))
}

.past-date {
    background-color: #e6e6e6 !important;
}

.past-event {
    opacity: 0.8;
}

.transparent-backdrop {
    background: rgba(0, 0, 0, 0.2);
}

.error-snackbar {
    @include mat.snack-bar-overrides((
        container-color: #b71c1c,

    ));
}

.multiline-snackbar {
    white-space: pre-line;
}