.left-container,
.right-container {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.right-container {
    justify-content: flex-end;
}

.middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-primary);
}
